@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    // 'primary': (
    //   'base': green,
    // ),
  ),
  $text-color: (
    'primary': #fff,
    'regular': #fff,
    'secondary': #fff,
    'placeholder': #fff,
  ),
  $bg-color: (
    'page': #0a0a0a,
    '': #535353,
    'overlay': #1d1e1f,
  )
);